/* font testi */
.text .p {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font titoli */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* colori */
:root {
  --blue: rgb(76, 146, 204);
  --lightblue: rgb(135, 185, 225);
  --lightbluetransparent: rgba(135, 185, 225, 0.493);
  --red: rgb(190, 29, 41);
  --redtransparent: rgba(190, 29, 40, 0.671);
  --lightsand: rgb(254, 221, 122);
  --lightsandtransparent: rgba(254, 221, 122, 0.24);
  --sand: rgb(243, 166, 30);
  --sandtransparent: rgba(243, 165, 30, 0.493);
  --brown: rgb(128, 66, 31);
}

.bg-lightblue {
  background-color: var(--lightblue) !important;
}

.text-red{
  color: var(--red) !important;
}

body {
  background-color: var(--lightsandtransparent);
}


/* navbar */

.navbar-sand {
  background-color: var(--sand);
  min-height: 50px;
  font-size: 20px;
  font-family: "Aladin", system-ui;
  transition: 0.1s;
}

.navbar-lightsand {
  background-color: var(--lightsand) !important;
  min-height: 40px;
  font-size: 15px;
  font-family: "Aladin", system-ui;
  transition: 0.1s;
}

#navbar .navbar-collapse {
  background-color: inherit;
}


/* icona navbar */
.logo {
  filter: drop-shadow(2px 4px 6px var(--brown));
}

.nav-link {
  color: var(--brown) !important;
  font-weight: 700;
}

.nav-link:hover {
  color: var(--red) !important;
}

/* header */

header{
  background-image: url(./media/sfondo\ arabo.png);
  position: relative;
  min-height: 55vh;              /* altezza flessibile */
  background-repeat: no-repeat;
  background-size: cover;

  /* TAGLIO in alto: sposta l'immagine verso l'alto */
  background-position: center ;

  /* spazio per contenuti sotto la navbar quando diventa fixed */
  padding-top: 90px;
}

.text-color-header {
  color: var(--lightblue);
  text-shadow: 2px 2px 4px var(--redtransparent);
  font-size: 100px;
}

.btn-custom {
  background-color: var(--lightblue);
  color: var(--red);
  font-family: "Aladin", system-ui;
  font-size: 20px;
  border: 2px solid var(--lightblue);
  margin: 0 15px;
  padding: 20px 30px;
  border-radius: 50px;
  box-shadow: 2px 2px 6px var(--lightbluetransparent);
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: var(--sand);
  color: var(--red);
  border: 2px solid var(--red);
  box-shadow: 4px 4px 8px var(--redtransparent);
  transform: scale(1.1);
}

/* section */


.section-custom {
  background-color: var(--lightsandtransparent);
  padding: 50px 0;
  border-radius: 20px;
}

.positioned {
  position: relative;
  top: -90px;
}

@media screen and (max-width: 600px) {
  .positioned {
    position: static;
  }
  
}

.col-custom {
  background-color: var(--lightblue);
  color: var(--brown);
  padding: 10px;
  border: 2px solid var(--brown);
  cursor: pointer;
  transition: 0.3s;
}

.col-custom:hover {
  background-color: var(--sand);
  color: var(--red);
  border: 2px solid var(--red);
  box-shadow: 6px 6px 6px var(--redtransparent);
  transform: scale(1.1);
  
}

/* numeri incrementali  */

.number {
  font-size: 40px;
  font-weight: bold;
  color: var(--red);
}