/* font testi */
.text .p  {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font titoli */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* colori */
:root {
  --blue : rgb(76, 146, 204);
  --lightblue: rgb(135, 185, 225);
  --lightbluetransparent: rgba(135, 185, 225, 0.493);
  --red: rgb(190, 29, 41);
  --redtransparent: rgba(190, 29, 40, 0.671);
  --lightsand: rgb(254, 221, 122);
  --lightsandtransparent: rgba(254, 221, 122, 0.24);
  --sand: rgb(243, 166, 30);
  --sandtransparent: rgba(243, 165, 30, 0.493);
  --brown: rgb(128, 66, 31);
}

body {
  padding-top: 30px;
}

/* navbar */

.navbar-sand {
  background-color: var(--sand);
  height: 50px;
  font-size: 20px;
  font-family: "Aladin", system-ui;
  transition: 0.1s;
}

.navbar-lightsand {
  background-color: var(--lightsand) !important;
  height: 40px;
  font-size: 15px;
  font-family: "Aladin", system-ui;
  transition: 0.1s;
}

/* icona navbar */
.logo {
filter: drop-shadow(2px 4px 6px var(--brown));
}

.nav-link {
  color: var(--brown) !important;
  font-weight: 700;
}

.nav-link:hover {
  color: var(--red) !important;
}

/* header */
.header-custom {
  background-image: url(./media/sfondo\ arabo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.text-color-header {
  color: var(--lightblue);
  text-shadow: 2px 2px 4px var(--lightbluetransparent);
}